.testimonial{
    background: url('../images/testimonial-bg.png') center/cover no-repeat fixed;
}

.event-section{
    background: url('../images/event-bg.png') center/cover no-repeat fixed;
    min-height: 60vh;
}

.dark-color{
    color: #1E1D60;
}

.testimonial-curve::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vh;
    min-height: 100%;
    background: rgba(253, 203, 6, 0.9);
    border-radius: 50%;
    transform-origin: top;
    transform: translateX(-50%) scale(6);
    }

    .testimonial-curve {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    }
.hide-overflow{
    overflow: hidden;
}

.about-kalika{
    min-height: 60vh;
}

.side-img-about{
    position: relative;
}

.text-box{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
    color: #fff;
    margin: 0 1rem 1rem 2rem;
    padding: 1rem;
}

.t-32{
    font-size: 3rem;
}

.primary-button{
    color: #1E1D60 !important;
    padding: 10px 18px !important;
    background-color: #FDCB06 !important;
    border-radius: 28px;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
}

.text{
    line-height: 1.8rem;
    font-size: 1rem;
    color: #667085;
}

.date-div{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day{
    font-weight: 700;
    color: #FDCB06;
    font-size: 1.8rem;
    overflow: hidden;
    margin-bottom: -0.6rem;
}

.mnth{
    font-weight: 600;
}

.title{
    font-size: 1.4rem;
    font-weight: 600;
}

.event-car-description{
    text-align: left !important;
}

.icon-container{
    background-color: #1E1D60;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.news-section .owl-stage{
    left: -50px;
}

@media only screen and (max-width: 1000px){
    .news-section .owl-stage{
        left: 0px;
    }
}

@media only screen and (max-width: 492px){

   .t-32{
       font-size: 1.8rem;
       font-weight: bold;
   }

   .quest-icon{
    height: 40px;
    width: 40px;
   }

   .about-kalika{
       padding: 0 0.5rem 0 0.5rem !important;
   }
   
}
@media only screen and (max-width: 540px){
    .carousel-controls{
        display: flex;
    }

    .carousel-controls img{
        width: 10px;
        height: 20px;
    }

    .event-prev{
        margin-right: 0.8rem !important;
    }

    .news-title{
        font-size: 1.8rem;
        font-weight: bold;
    }
}

.banner{
    max-height: 100vh;
    overflow: hidden;
}
.news-section{
    position: relative;
}
.news-section::after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    top: -35px;
    height: 85px;
    background-color: #fff;
    transform: skewY(3deg);
    z-index: 99;
    content:"";
}

.news-section::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -22px;
    height: 58px;
    background-color: #fff;
    transform: skewY(-2deg)
}

.box2{
    background: rgba(0, 0, 0, 0.7);   
    color: #fff;
    font-size: 14px;
    padding: 10px;
    width: 90%;
    position: absolute;
    width: 95%;
    bottom: 2%;
}

.kalikaimg{
background: url('../images/about-side.png');
height: 400px;
background-size:cover;
background-repeat: no-repeat;
position: relative;

}

.carousel-controls{
    z-index: 999;
}

.banner .owl-dots{
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(-90deg);
}

.testimonial-icon{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #fff;
}

.t-desc{
    font-size: 1.4rem;
}

/*Gallery*/
.image-card {
    width: 100%;
    min-height: 360px;
    max-height: 360px;
    object-fit: cover;
}

.gallery-bg, .event-bg{
    width: 100%;
    height: 80vh;
  }
  
  .gallery-bg{
    background: linear-gradient(0deg, rgba(92, 28, 62, 0.4), rgba(92, 28, 62, 0.4)), url("../images/school1.jpg") center/cover no-repeat;
  }

  .about-bg{
    background: linear-gradient(0deg, rgba(92, 28, 62, 0.4), rgba(92, 28, 62, 0.4)), url("../images/school3.jpg") center/cover no-repeat;
    width: 100%;
    height: 60vh;
  }

  .card-img-top{
    max-height: 320px;
    min-height: 150px;
    object-fit: cover;
  }
  
  .blog-date{
    margin-top: -0.5rem;
  }

  .a-card, .a-card:hover, .a-card:focus{
    text-decoration: none;
    color: inherit;
  }

  .a-card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.1s ease-out;
}

.single-image {
  cursor: pointer;
}

.single-image:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.1s ease-out;
}

.recent-card{
    background-color: #f5f5f5;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .underline{
    border-bottom: 1px #000 solid;
    margin-bottom: 0.5rem;
}